@using IflDiary.Models;
@model Diary;
<div class="row"></div>
<div class="col-md-4 offset-4">
	<div class="card">
		<div class="card-header">
			<h4>Add Activity Details</h4>
		</div>
		<div class="card-body">
			<form action="/Engineer/AddUpdateDiary" method="post" enctype="multipart/form-data">
				<input type="hidden" asp-for="Id" />
				<div class="mb-3">
					<label class="form-label">Assigned Dept</label>
					<select class="form-select" asp-for="DepartmentId" asp-items="ViewBag.Departments">
						<option> --Choose Dept-- </option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label">Description</label>
					<input class="form-control" type="text" asp-for="Description" />
				</div>

				<div class="mb-2">
					<label class="form-label">Received Date</label>
					<input class="form-control" type="date" asp-for="FeedbackOn" />
				</div>
				<div class="mb-2 text-center">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>